{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src",
          "styles": "./src/assets/styles",
          "images": "./src/assets/images",
          "videos": "./src/assets/videos",
          "scripts": "./src/assets/scripts",
          "fonts": "./src/assets/fonts"
        }
      }
    ]
  ]
}
