extends ../layouts/master.pug

block title
  title Blog - Webpack starter

block content
  .container
    h1 Blog page
    p You are amazing
    p
      | Pug is a terse and simple
      | templating language with a
      | strong focus on performance
      | and powerful features.
    p
      a(href="/blog/post") Example post page
