//- Head

//- Meta
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
meta(http-equiv="X-UA-Compatible", content="ie=edge")

//- SEO

//- Basic SEO
block basicSeo
  meta(name="description" content="Index page")
  meta(name="keywords", content="index, page")
  meta(name="author" content="dotBraind")

//- Twitter
meta(name="twitter:card", content="summary")
meta(name="twitter:site", content="")
meta(name="twitter:image", content="")
meta(name="twitter:description", content="")

//- Facebook
meta(property="og:url", content="")
meta(property="og:title", content="")
meta(property="og:description", content="")
meta(property="og:image", content="")
meta(property="og:type", content="website")

//- Favicon
link(rel="apple-touch-icon", sizes="180x180", href="")
link(rel="icon", type="image/png", sizes="32x32", href="")
link(rel="icon", type="image/png", sizes="16x16", href="")
link(rel="shortcut icon", href="")

//- Title
block title
  title Webpack starter
